<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find my_simulations)/urdf/turtlebot3_my_model.urdf.xacro" />

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <!-- include gazebo_ros launcher -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find my_simulations)/worlds/empty_world1.world"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <!--노드 이름, 쓰는 패키지, 타입, 모델이름 위치 파라미터-->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
          args="-urdf -model turtlebot3_my_model -x $(arg x) -y $(arg y) -z $(arg z) -param robot_description"/>

</launch>